* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.navbar {
  padding: 1.5rem;
  background-color: rgb(38, 153, 219);
}

.navbar__list {
  display: flex;
}

.navbar__list__items {
  margin-right: 1rem;
  color: white;
  font-size: 1rem;
}